<p id="notice"><%= notice %></p>

<h1>Combattants</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Points de vie</th>
      <th>Points d attaque</th>
      <th>XP</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @combattants.each do |combattant| %>
      <tr>
        <td><%= combattant.nom %></td>
        <td><%= combattant.points_de_vie %></td>
        <td><%= combattant.points_d_attaque %></td>
        <td><%= combattant.xp %></td>
        <td><%= link_to 'Afficher', combattant %></td>
        <td><%= link_to 'Modifier', edit_combattant_path(combattant) %></td>
        <td><%= link_to 'Supprimer', combattant, method: :delete, data: { confirm: 'En êtes vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

